{% extends 'base.html.twig' %}

{% block title %}New Modules{% endblock %}

{%block MainContent %}
    <h1>Create new Modules</h1>

    {{ include('modules/_form.html.twig') }}

    <a href="{{ path('app_Modules') }}">back to list</a>
{% endblock %}
